body {
  background-image: url(images/background.jpg);
  background-size: cover;
  max-width: 100%;
}

@font-face {
  font-family: theFrontmanimport;
  src: url(images/theFrontman.ttf);
}

.headline {
  font-family: theFrontmanimport;
  color: white;
  text-align: center;
}

.startB,
.start {
  text-align: center;
  font-size: 30px;
  width: 60%;
  margin: auto;
}

.timer {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.correct-holder,
.incorrect-holder,
.unanswered-holder,
.answer-holder {
  font-size: 25px;
  font-weight: bold;
  color: lightgray;
}

.image-holder,
.answer-holder,
.timer,
.correct-holder,
.incorrect-holder,
.unanswered-holder,
h5 {
  margin: auto;
  text-align: center;
}

.timer,
.answer-holder {
  padding-bottom: 12px;
}

.card,
.list-group,
.main {
  background-color: transparent;
  border-color: transparent;
}

/* Media Queries */
@media (min-width: 544px) {
  h1 {
    font-size: 1.5rem;
    margin: 10px;
  }
  .question {
    font-size: 20px;
    color: gold;
  }
  .firstAns,
  .secondAns,
  .thirdAns,
  .fourthAns {
    font-size: 15px;
    text-align: center;
  }
  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    text-align: left;
    background-color: transparent;
    width: 100%;
    margin: auto;
  }
  img {
    height: 200px;
    width: 390px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    margin: 20px;
  }
  .question {
    font-size: 23px;
    color: gold;
  }
  .firstAns,
  .secondAns,
  .thirdAns,
  .fourthAns {
    font-size: 15px;
    text-align: center;
  }
  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    text-align: left;
    background-color: transparent;
    width: 70%;
    margin: auto;
  }
  img {
    height: 200px;
    width: 390px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 3.5rem;
    margin: 37px;
  }
  .question {
    font-size: 25px;
    color: gold;
  }
  .firstAns,
  .secondAns,
  .thirdAns,
  .fourthAns {
    font-size: 18px;
    text-align: center;
  }
  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    text-align: left;
    background-color: transparent;
    width: 40%;
    margin: auto;
  }
  img {
    height: 270px;
    width: 480px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4.5rem;
    margin: 45px;
  }
  .question {
    font-size: 30px;
    color: gold;
  }
  .firstAns,
  .secondAns,
  .thirdAns,
  .fourthAns {
    font-size: 20px;
    text-align: center;
  }
  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    text-align: left;
    background-color: transparent;
    width: 40%;
    margin: auto;
  }
  img {
    height: 270px;
    width: 480px;
  }
}
